.img{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -150px;
  
}
.text{
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:110px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.img1{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -150px;
}
.hero-wrapper {
  height: 300vh;
}

.hero-page {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.child1 {
  background-color: #C2C0C1;
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}


.full-nav{
  padding: 0px 100px ;
}
.navbar {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 9999;
  color: #212529;
}

.left-content{
  position: absolute;
  height: 100vh;
  width: 40%;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}
.right-content{
 position: absolute;
  height: 100vh;
  width: 40%;
  top: 0;
  right: 0;
  z-index:6;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}
 .hello{
  font-size: 100px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
}Roman

.info{
  font-family:Georgia, Times, 'Times New ', serif;
}
.nav-link,.nn{
  color: #212529 !important;
}



/* for li items hover */
.nav-link:hover{
  color: red !important;
}
.about{
  padding: 220px 100px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.blog-content{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.pr-div{
position: relative;
height: 100vh;
width: 100%;
overflow: hidden;
}
.project{
    position: absolute;
    height: 60%;
    width: 60%;
    top: 50;
    bottom: 0;
}
.p1{
    z-index: 1;
}
.p2{
    z-index: 2;
}
.p3{
    z-index: 3;
}

.pppp{
  font-size: 100px;
  position: absolute;
  top:10%;
  letter-spacing: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}